.photoView {
	display: grid;
	grid-template-columns: 600px 300px;
	grid-template-rows: 70px 50px 440px 40px;
}

.photoView > .photoView_picture {
	height: 600px;
	grid-row-end: 5;
	grid-row-start: 1;
}

.photoView > .photoView_input {
	max-height: 80px;
	border-radius: 0 0 4px 0;
	border-top: 1px solid #ccc;
}

.photoView > .photoView_input > textarea {
	width: 240px;
}