.content_main {
	margin-top: 15px;
}

.photoView {
	display: grid;
	grid-template-columns: 600px 300px;
	grid-template-rows: 70px 50px 440px 40px;
}

.photoView > .photoView_autor {
	background: hsla(0, 0%, 93%, 0.35);
}

.photoView > .photoView_picture {
	height: 600px;
	grid-row-end: 5;
	grid-row-start: 1;
}

.photoView > .photoView_input {
	position: relative;
	bottom: 0;
	right: 0;
	display: flex;
	max-height: 80px;
	border-radius: 0 0 4px 0;
	border-top: 1px solid #ccc;
}

.photoView > .photoView_input > textarea {
	width: 240px;
}

.photoView > .photoView_input > button {
	position: relative;
}

.photoView > .photoView_comments .photoView_comments_empty {
	margin-top: 100px;
}