.window{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.window_right{
	width: 300px;
	order: 2;
}
.window_right .user_info {
	width: 220px;
}
.pv_picture_layer{
	position: relative;
	width: 600px;
	height: 600px;
	order: 1;
}
.pv_picture_layer img{
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.pv_picture {
	max-width: 600px;
	max-height: 600px;
	border-radius: 4px 0 0 4px;
}
.pv_icon_desc, .pv_icon_up, .pv_icon_down, .pv_icon_edit, .pv_icon_check{
	cursor: pointer;
}
.pv_comments {
	padding: 0 0 0 5px;
	height: 440px;
	overflow-y: scroll;
}
.pv_comments_loadmore{
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.pv_msg:last-child {
	margin-bottom: 0px;
}
.pv_input {
	width: 300px;
	position: absolute;
}
.pv_like_on{
	padding: 1px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	background-color: #1b1e24;
	border: 1px solid #1b1e24;
}
.pv_like_off{
	padding: 1px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #000;
	background-color: #fff;
	border: 1px solid #1b1e24;
}
.pv_like_on:hover {
	box-shadow: 
	0 0 0 1.5px #fff inset;
	border-radius: 6px;
}
.pv_like_off:hover {
	box-shadow: 
	0 0 0 1px #000 inset;
	border-radius: 6px;
}
.pv_like_on:active, .pv_like_off:focus {
	outline: none;
}
.pv_likes_count{
	position: absolute;
	right: 70px;
}
.pv_comments_count{
	position: absolute;
	right: 10px;
}
.pv_comments_empty{
	margin-top: 100px;
}