@import url('./desktop.css') (min-width: 768px);
@import url('./mobile.css') (max-width: 768px);

.photoView {
	background: #FFF;
	position: relative;
	border-radius: 4px;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
	.photoView {
		border: 1px solid #ccc;
		border-radius: 4px;
		margin-top: 15px;
	}
}

.photoView > .photoView_picture {
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background: hsl(0, 0%, 12%);
}

.photoView > .photoView_autor {
	border-bottom: 1px solid #ccc;
	background: hsla(0, 0%, 93%, 0.35);
}

.photoView > .photoView_postInfo {
	border-bottom: 1px solid #ccc;
}

.photoView > .photoView_comments {
	padding: 0 0 0 5px;
	overflow-y: scroll;
}

.photoView > .photoView_comments > .photoView_comments_msg {
	position: relative;
	padding: 5px 10px 5px 5px;
}

.photoView > .photoView_comments > .photoView_comments_msg img {
	float: left;
	width: 40px;
	height: 40px;
	cursor: pointer;
	margin-right: 10px;
	border-radius: 50%;
}

.photoView > .photoView_comments .photoView_comments_msg_block {
	word-wrap: break-word;
	overflow: hidden;
}

.photoView > .photoView_comments .photoView_comments_msg_block_text {
	letter-spacing: -.20px;
	line-height: 20px;
}

.photoView > .photoView_comments .photoView_comments_msg_block_username {
	font-weight: bold;
	margin-right: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(100% - 30px);
}


.photoView > .photoView_input {
	max-height: 80px;
	border-radius: 0 0 4px 0;
	border-top: 1px solid #ccc;
}

.photoView > .photoView_input > textarea {
	height: 40px;
	max-height: 80px;
	line-height: 1.45;
	border-radius: 0;
	border: 0;
	resize: none;
	padding: 0 10px;
}

.photoView > .photoView_input > button {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 40px;
	width: 40px;
	color: #fff;
	background-color: #1d2127;
	border-radius: 0 0 4px 0;
}