.photoView {
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 600px;
}

.photoView > .photoView_picture img {
	width: 100%;
}

.photoView > .photoView_autor {
	order: 1;
}

.photoView > .photoView_picture {
	order: 2;
}

.photoView > .photoView_postInfo {
	order: 3;
}

.photoView > .photoView_comments {
	order: 4;
	margin-bottom: 80px;
}

.photoView > .photoView_input {
	order: 5;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	max-width: 600px;
	min-width: 320px;
}

.photoView > .photoView_input > textarea {
	width: calc(100% - 60px);
	bottom: 0;
	position: absolute;
}

.photoView > .photoView_input > button {
	right: 0;
	position: absolute;
}
