.window{
	flex-direction: column;
	width: 100%;
}
.pv_picture{
	width: 100%;
}
.window_part{
	border-top: 1px solid #ccc;
}
.pv_comments {
	overflow-y: scroll;
	margin-bottom: 40px;
}
.pv_input {
	position: fixed;
	z-index: 200;
}
.pv_like_on{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	background-color: #1b1e24;
	border: 1px solid #1b1e24;
	padding: 3px;
}
.pv_like_off{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #000;
	background-color: #fff;
	border: 1px solid #1b1e24;
	padding: 3px;
}
.pv_likes_count{
	position: absolute;
	right: 70px;
}
.pv_comments_count{
	position: absolute;
	right: 10px;
}
.pv_desc_form{
	width: 80%;
}
.pv_desc_form input{
	width: 100%;
}
.pv_desc_form textarea{
	width: 99%;
}
.pv_comments_empty{
	margin-bottom: 50px;
}