@import url('./desktop.css') (min-width: 768px);
@import url('./mobile.css') (max-width: 768px);

.setting{
	width: 100%;
}
.setting_form_group{
	margin-top: 15px;
	background: #FFF;
	padding: 10px;
}
.setting_form_group span {
	font-weight: bold;
	line-height: 28px;
}
.setting_form_group_in{
	margin: 0 40px;
	padding: 6.5px 0 6.5px 15px;
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	outline: 0;
	resize: none;
}
.setting_form_group_in textarea {
	line-height: 1.5;
}
.setting_form_avatar{
	display: flex;
	background: #FFF;
	padding: 10px;
}
.setting_avatar_buttons{
	position: relative;
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}
.setting_avatar_buttons div{
	padding: 5px 40px;
	width: 60px;
	cursor: pointer;
}
#input_upload{
	position: absolute;
	top: 15px;
	height: 30px;
	width: 142px;
	opacity: 0;
	cursor: pointer;
}
#upload_avatar{
	position: absolute;
	top: 15px;
}
#remove_avatar{
	position: absolute;
	bottom: 15px;
}
#setting_avatar {
	height: 120px;
	width: 120px;
	border-radius: 8px;
}
.setting_send{
	position: relative;
	margin: 20px 0 10px 50px;
	text-align: center;
}
.setting_send_btn{
	padding: 5px 40px;
	width: 70px;
	cursor: pointer;
}
.setting_layer_success{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	background: #1d2127;
	text-align: center;
	color: #fff;
	padding-top: 15px;
}