.postInfo {
	position: relative;
	display: flex;
	padding: 10px;
}

.postInfo > .postInfo_counter {
	position: absolute;
	bottom: 12px;
	right: 10px;
	color: #000000b5;
	display: flex;
}

.postInfo > .postInfo_counter > .postInfo_counter_icon {
	margin-left: 10px;
}

.postInfo > .postInfo_counter > .postInfo_counter_text {
	margin: 0 5px;
}