@import url('./desktop.css') (min-width: 768px);
@import url('./mobile.css') (max-width: 768px);

.feed_post {
	background: #fff;
}

.feed_post > .pv_info {
	height: 25px;
}

.feed_post > .feed_picture {
	position: relative;
	background: hsl(0, 0%, 12%);
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	align-items: center;
}

.feed_post > .feed_picture img {
	width: 100%;
}