@import url('./desktop.css') (min-width: 768px);
@import url('./mobile.css') (max-width: 768px);

.profile_info {
	position: relative;
	background: #fff;
	display: flex;
	padding: 10px;
	display: grid;
}

.profile_info > .profile_info_data {
	margin: 5px 10px;
	display: flex;
	flex-direction: column;
}

.profile_info_data .fa {
	margin-right: 5px;
}

.profile_info .profile_info_data_home {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile_info .profile_info_data_website {
	margin-top: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile_info > .profile_info_data > .profile_info_data_name {
	font-size: 19px;
	margin-right: 10px;
	margin: 0 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(100% - 30px);
}

.profile_info > .profile_info_data > .profile_info_data_home {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile_info > .profile_info_custom {
	position: relative;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	padding: 10px 0 10px;
	border-top: 1px solid #efefef;
}

.profile_info > .profile_info_desc {
	position: relative;
	padding: 10px;
	word-wrap: break-word;
	border-top: 1px solid #efefef;
	grid-column-start: 1;
	grid-column-end: 3;
}

.profile_info_desc .fa {
	margin-right: 5px;
}

.profile_gallery {
	position: relative;
	min-height: 250px;
	background: #fff;
	margin-bottom: 15px;
	margin-top: 15px;
	display: grid;
	grid-template-columns: 10fr 10fr 10fr;
}

.profile_gallery > .profile_gallery_post img {
	width: 100%;
}

.profile_postsEmpty {
	position: absolute;
	height: calc(100% - 20px);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 15px;
}

.profile_loadMore {
	grid-column-start: 1;
	grid-column-end: 4;
}