@import url('./desktop.css') (min-width: 768px);
@import url('./mobile.css') (max-width: 768px);

.profile_info {
	position: relative;
	background: #fff;
	display: flex;
	padding: 10px;
	display: grid;
}

.profile_info > .profile_info_data {
	margin: 5px 10px;
	display: flex;
	flex-direction: column;
}

.profile_info > .profile_info_data > .profile_info_data_name {
	font-size: 19px;
	margin-right: 10px;
	margin: 0 0 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: calc(100% - 45px);
}

.profile_info > .profile_info_data > .profile_info_data_home {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile_info > .profile_info_custom {
	position: relative;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	padding: 10px 0 10px;
	border-top: 1px solid #efefef;
}

.profile_info > .profile_info_desc {
	position: relative;
	padding: 10px;
	word-wrap: break-word;
	border-top: 1px solid #efefef;
	grid-column-start: 1;
	grid-column-end: 3;
}

.profile_gallery {
	background: #fff;
	margin-bottom: 15px;
	margin-top: 15px;
	display: grid;
	grid-template-columns: 10fr 10fr 10fr;
}

.profile_gallery > .profile_gallery_post img {
	width: 100%;
}