@import url('./desktop.css') (min-width: 768px);
@import url('./mobile.css') (max-width: 768px);

.follow {
	width: 100%;
}

.follow_name_block{
	display: flex;
	width: 100%;
	background: #FFF;
	padding: 15px 0 15px 0;
}
.follow_name_block_row{
	display: flex;
}
.follow_icon{
	margin: 0 10px 0 10px;
	font-size: 20.5px;
	line-height: 16px;
}
.follow_icon_error{
	font-size: 96px;
}
.follow_page_name{
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
}
.follow_result{
	background: #fff;
}
.follow_error{
	position: fixed;
	width: 100%;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and  (min-width: 600px) {
	.follow_name_block, .follow_result {
		border: 1px solid #ccc;
		border-radius: 4px;
	}
}