.follow{
	max-width: 600px;
}
.follow_name_block{
	border-bottom: 1px solid #ccc;
}
.follow_result{
	min-height: 443px;
	background: #FFF;
	padding: 10px;
	margin-top: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}