.pictureBottom {
	bottom: 0;
	width: 100%;
	color: #fff;
	position: absolute;
	border-radius: 0 0 0 4px;
	background: hsla(0, 0%, 12%, 0.7);
}

.pictureBottom_icon_desc, .pictureBottom_icon_up, .pictureBottom_icon_down, .pictureBottom_icon_edit, .pictureBottom_icon_check {
	position: absolute;
	right: 15px;
	color: #fff;
	font-size: 20px;
	z-index: 101;
}

.pictureBottom_icon_up {
	bottom: 5px;
}

.pictureBottom_icon_down {
	bottom: 110px;
}

.pictureBottom_icon_edit, .pictureBottom_icon_check {
	bottom: 20px;
}

.pictureBottom > .pictureBottom_title {
	position: relative;
	top: 10px;
	margin: 0 55px 0 15px;
}

.pictureBottom_title_min {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pictureBottom_title_full {
	font-weight: bold;
	word-wrap: break-word;
}

.pictureBottom > .pictureBottom_desc {
	top: 17px;
	height: 100px;
	padding: 0 15px 0 0;
	word-wrap: break-word;
	position: relative;
	line-height: 1.3;
	margin: 0 55px 0 15px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.pictureBottom_desc::-webkit-scrollbar {
    width: 4px;
}
 
.pictureBottom_desc::-webkit-scrollbar-thumb {
	background: hsl(0, 100%, 100%);
	border-radius: 4px;
}

.pictureBottom > .pictureBottom_form {
	position: absolute;
	padding: 10px 40px 0px 15px;
	width: 80%;
}

.pictureBottom > .pictureBottom_form input {
	height: 24px;
	width: calc(100% + 4px);
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: 0;
}

.pictureBottom > .pictureBottom_form textarea{
	width: 100%;
	height: 90px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: 0;
	resize: none;
}
