@charset "UTF-8";
html{
	overflow-x: hidden;
}
body {
	margin: 0;
	color: #000;
	height: 100vh;
	width: 100vw;
	line-height: 1.5;
	font-size: 13.5px;
	position: absolute;
	background: #f4f0ff;
	overflow-x: hidden;
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}
a {
	text-decoration: none;
	color: #000;
	background:none;
	outline: none;
}
p {
	margin: 0;
}
img {
	vertical-align: middle;
	border: 0;
}
img[data-src] {
	opacity: 0;
	vertical-align: middle;
	border: 0;
}
@keyframes showImg{
	 0%{
		 opacity:0;
	 }
	 
	 
	 100% {
		 opacity:1;
	 }
}
textarea, input {
	outline: none;
	-moz-appearance: none;
}

button {
	margin: 0;
	border: 0;
	outline: 0;
	color: #000;
	background: none;
	line-height: 1.5;
	font-size: 13.5px;
}

@media (min-width: 768px) {
	button {
		cursor: pointer;
	}
}


.cursive{
	font-family: Bradley Hand, cursive;
}

@media (min-width: 768px) {
	body::-webkit-scrollbar-track {
		border-radius: 4px;
	}
	body::-webkit-scrollbar {
		width: 6px;
	}
	body::-webkit-scrollbar-thumb {
		border-radius: 2px;
		background: hsla(0, 0%, 0%, 0.5);
	}
	body:hover::-webkit-scrollbar-thumb {
		background: hsla(0, 0%, 0%, 0.7);
	}
}

div::-webkit-scrollbar-track {
	border-radius: 4px;
}
div::-webkit-scrollbar {
	width: 6px;
}
div::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: hsla(0, 0%, 0%, 0.5);
}
/*div:hover::-webkit-scrollbar-thumb {
	background: hsla(0, 0%, 0%, 0.7);
}*/

textarea::-webkit-scrollbar-track {
	border-radius: 4px;
}
textarea::-webkit-scrollbar {
	width: 4px;
}
textarea::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: hsla(0, 0%, 0%, 0.5);
}
textarea:hover::-webkit-scrollbar-thumb {
	background: hsla(0, 0%, 0%, 0.7);
}

.content{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn_black {
	color: #fff;
	height: 26px;
	width: 130px;
	border-radius: 4px;
	background-color: #1b1e24;
	border: 1px solid #1b1e24;
}

.btn_white {
	color: #000;
	height: 26px;
	width: 130px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #1b1e24;
}

.btn_black:hover {
	box-shadow: 0 0 0 1.5px #fff inset;
	border-radius: 6px;
}

.btn_white:hover {
	box-shadow: 0 0 0 1px #000 inset;
	border-radius: 6px;
}

.page_empty {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 15px;
}