@import url('./desktop.css') (min-width: 768px);
@import url('./mobile.css') (max-width: 768px);

.search{
	max-width: 900px;
	width: 100%;
}
.search_block{
	width: 100%;
	background: #FFF;
	padding: 10px 0 10px 0;
}
.search_row{
	display: flex;
}
.search_icon{
	font-size: 20.5px;
	margin: 0 10px 0 10px;
}
.search_input{
	width: 100%;
	padding: 6px 12px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.search_result{
	position: relative;
	min-height: 300px;
	margin-top: 15px;
	background: #FFF;
	width: 100%;
}
.search_gallery {
	display: grid;
	grid-template-columns: 10fr 10fr 10fr;
	margin-top: 5px;
}
.search_gallery_item_image img{
	width: 100%;
}
.search_gallery_item .user_nickname{
	width: 100%;
}

.search_send{
	height: 30px;
	width: 70px;
	color: #fff;
	background-color: #1d2127;
	border: 0;
	margin-right: 30px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 0 4px 4px 0;
	text-align: center;
	cursor: pointer;
}

.search_send span{
	margin: 5px;
}

.search_postsEmpty {
	position: absolute;
	left: 50%;
	top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 0px 0px -95px;
	font-size: 15px;
}

.search_loadMore {
	grid-column-start: 1;
	grid-column-end: 4;
}